.input__label {
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 13px 15px;
}
.input__border {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: 0.3s ease-in;
	border: 1px solid #ccc;
	border-radius: 8px;
}
.input__field {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	line-height: 18px;
	width: 100%;
	color: #ccc;
	border: 0;
}

.input__field:placeholder-shown + .input__border {
	border: 1px solid #ccc;
}
.input__field:placeholder-shown + .Input__error {
	border: 1px solid #ff6c6c;
}

.input__field:focus {
	outline: 0;
}
.input__field:not(:placeholder-shown) {
	color: #454545;
}
.input__field:not(:placeholder-shown) + .Input__error {
	border: 1px solid #ff6c6c;
}
.input__field:not(:placeholder-shown) + .input__border {
	border: 1px solid #7c7c7c;
}
.input__field:focus + .input__border {
	border: 1px solid #656bf2;
}
