label {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 13px 15px;
}
label div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .3s ease-in;
  border: 1px solid #ccc;
  border-radius: 8px;
}
input {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  width: 100%;
  color: #ccc;
  border: 0;
}

input:placeholder-shown + div {
  border: 1px solid #ccc;
}
input:placeholder-shown + .Input__error {
  border: 1px solid #ff6c6c;
}

input:focus {
  outline: 0;
}
input:not(:placeholder-shown) {
  color: #454545;
}
input:not(:placeholder-shown) + .Input__error {
  border: 1px solid #ff6c6c;
}
input:not(:placeholder-shown) + div {
  border: 1px solid #7c7c7c;
}
input:focus + div {
  border: 1px solid #656bf2;
}
